{% extends 'core/base.html' %}

{% block content %}

<!--Form Register-->


<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}

    <div class="space-y-4" style="width: 200px;">
        <div style="position: absolute; left: 1px; top: 80px;">
            {{ form.as_p }}
        </div>
    </div>

    {% if form.errors or form.non_field_errors %}
       <div class="mb-3 p-6 bg-red-100 rounded-xl">
           {% for field in form %}
               {{ field.errors }}
           {% endfor %}

           {{ form.non_field_errors }}

           
       </div>
    {% endif %}

<!--Button>-->

<button type="submit" class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
</form>
{% endblock %}
